body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #171918;
    color: #fff;
}

.welcome, .signup {
    text-align: center;
}

.welcome {
    margin-bottom: 0px;
}

.logo {
    max-width: 40%;
    height: auto;
    margin: 70px auto 0; /* Add margin-top to move the logo down */
}

.logo img {
    width: 70%;
    height: auto;
    object-fit: contain;
}


h1 {
    font-size: 3vw;
    margin: 2vh 0;
}

h2 {
    font-size: 2vw;
    margin: 2.5vh 0;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 70%;
    padding: 1em; /* Adjust the height using em units */
    margin: 1em 0;
    border: 0.5em solid #444;
    background-color: #333;
    color: #fff;
}

button {
    padding: 2vh 4vw;
    background-color: #e2a109;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 2.5vh 0;
}

.login-link {
    font-size: 1.5vw;
    margin: 1vh;
}

a {
    color: #09bbf2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

